<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-darkreader-mode="dynamic" data-darkreader-scheme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/static/CSS/card.css">
  <link rel="stylesheet" href="/static/CSS/gnb.css">
  <link rel="stylesheet" href="/static/CSS/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/darkreader"></script>


</head>
<body>
  
  <header>
    <h1>My Responsive Blog</h1>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
       <span>Vesblog</span>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/Home" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="/contact" class="nav-link px-2 text-white">Content</a></li>
        </ul>
      </div>
  
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control " placeholder="Search..." aria-label="Search">
      </form>

      
        <div class="text-end">
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
  </header>
   <!-- navbar -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="nav-scroller py-1 mb-3 border-bottom">
          <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis active" href="#">World</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">U.S.</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Technology</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Design</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Culture</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Opinion</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Science</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Health</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Style</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Travel</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
    
  <main class="container">
    <div class="row">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
          <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
      </div>
      <!-- thumbnail -->
      <div class="row mb-2"> 

        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-body-secondary">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                Continue reading
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #3c4144;"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #c7c4c1;">Thumbnail</text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
              <h3 class="mb-0">Post title</h3>
              <div class="mb-1 text-body-secondary">Nov 11</div>
              <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                Continue reading
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
              </a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #3c4144;"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #c7c4c1;">Thumbnail</text></svg>
            </div>
          </div>
        </div>
      </div>
     

    <div class="row g-5">
      <div class="col-md-10">
        <div class="card">
          <h2>7 Ways Microsoft's Copilot AI Boosts Productivity</h2>
          <h5>Microsoft's new Copilot AI can handle everything from creative writing to coding to image editing., April 5, 2024</h5>
          <!-- <div class="fakeimg" style="height:200px;">Image</div> -->
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/CSS/vishnu-mohanan-pfR18JNEMv8-unsplash.jpg" style="height: 400px;width: 450px;justify-self:center-left;"
                 class="d-block w-100" >
              </div>
              <div class="carousel-item">
                <img src="/static/CSS/possessed-photography-jIBMSMs4_kA-unsplash.jpg" style="height: 400px;width: 450px;"  class="d-block w-100" >
              </div>
              <div class="carousel-item">
                <img src="/static/CSS/thisisengineering-raeng-ZPeXrWxOjRQ-unsplash.jpg" class="d-block w-100"style="height: 400px;width: 450px;"   >
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- <img src="/static/CSS/vishnu-mohanan-pfR18JNEMv8-unsplash.jpg" style="height: 400px;width: 450px;"> -->
        
          <p>Some text..</p>
          <p>
            Microsoft has introduced Copilot, a cutting-edge tool designed to enhance developer productivity through artificial intelligence. This innovative tool assists coders by suggesting code snippets, completing lines, and providing explanations. Its versatility allows it to support multiple programming languages and frameworks, catering to a diverse range of developers. With its ability to adapt to individual coding styles, Copilot offers a personalized and collaborative approach to coding tasks. Microsoft envisions Copilot as a valuable asset for developers of all levels, aiming to streamline the coding process and foster efficiency in software development projects.</p>
          <div class="card-body">
            <div class="icons">
              <i class="bi bi-hand-thumbs-up" id="likeIcon"></i>
              <!-- <span id="likeCount">67</span> likes -->
              <i class="bi bi-chat"></i>
              <a href="#" onclick="return shareOnSocialMedia();" title="Share on social media">
                  <i class="bi bi-send"></i>
                </a>
              <i class="bi bi-bookmark"></i>
            </div>
            <p class="card-text">67 likes</p>
             <span class="user">By:Jfk</span> 
          
            <!-- comment -->
            <div class="comment">

              <input class="form-control form-control-sm commentSecondInput" type="text" placeholder="Add a comment" aria-label=".form-control-sm example">
              <button onclick="postSecondComment()">Post</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="card">
          <h2>Travel disrupted in UK, power outages in Ireland due to storm</h2>
          <h5> April 6,2024</h5>
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/CSS/nikolai-lehmann-5g3Dxi5_6-U-unsplash.jpg" style="height: 400px;width: 450px;justify-self:center-left;"
                 class="d-block w-100" >
              </div>
              <div class="carousel-item">
                <img src="/static/CSS/Screenshot 2024-04-07 201621.png" style="height: 400px;width: 450px;"  class="d-block w-100" >
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      
          <p>Airline passengers in parts of the UK and Ireland faced travel disruptions as a storm swept across both countries.</p>
          <p>Storm Eunice wreaked havoc across the United Kingdom and Ireland, disrupting travel and causing widespread power outages. The storm, characterized by strong winds and heavy rainfall, led to significant transportation disruptions, including flight cancellations, train service suspensions, and road closures due to fallen trees and debris. These disruptions left commuters stranded and caused chaos at airports and train stations. Moreover, major landmarks and tourist attractions were closed as a precautionary measure.</br>

           <br> In Ireland, Storm Eunice caused extensive damage to power lines and infrastructure, resulting in widespread power outages affecting tens of thousands of homes and businesses. The lack of electricity posed challenges for residents in accessing essential services and staying warm amidst the adverse weather conditions.</br>
            
           <br> Coastal areas experienced severe flooding and structural damage due to high tides and battering waves, exacerbating the impact of the storm. Authorities issued warnings urging residents to take precautions and avoid unnecessary travel to ensure public safety.</br>
            
            <br>Emergency response teams worked tirelessly to restore power, address safety concerns, and support affected communities. Efforts to repair infrastructure and assist those affected by the storm underscored the importance of preparedness and resilience in the face of extreme weather events.</br>
            
            <br> As communities assess the damage and begin the recovery process, the resilience and solidarity of residents are being tested. The aftermath of Storm Eunice serves as a reminder of the ongoing need to mitigate the impact of severe weather events and strengthen resilience in vulnerable communities.</p>
          <div class="card-body">
            <div class="icons">
              <i class="bi bi-hand-thumbs-up"></i>
              <i class="bi bi-chat"></i>
              <a href="#" onclick="return shareOnSocialMedia();" title="Share on social media">
              <i class="bi bi-send"></i>
              </a>
              <i class="bi bi-bookmark"></i>
            </div>
            <p class="card-text">67 likes</p>
             <span class="user">By:XYZ</span> 
            <!-- caption
            <span class="caption">No sweat...</span>
            <a class="btn-more" onclick="readMoreSecond()">Read more</a>
            <ul class="secondComment"></ul> -->
            <!-- comment -->
            <div class="comment">
              
              <input class="form-control form-control-sm commentSecondInput" type="text" placeholder="Add a comment" aria-label=".form-control-sm example">
              <button onclick="postSecondComment()">Post</button>
            </div>
          </div>
        </div>
      </div>
     

      <div class="col-md-12">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">We are passionate individual striving for creating a user friendly website curating the interests of various individuals.<br>
             as of now the website is at development stage soon availabe with more dynamic functions.</p>
          </div>
  
          <div>
            <h4 class="fst-italic">Recent posts</h4>
            <ul class="list-unstyled">
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #51575b;"></rect></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Example blog post title</h6>
                    <small class="text-body-secondary">January 15, 2024</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #51575b;"></rect></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">This is another blog post title</h6>
                    <small class="text-body-secondary">January 14, 2024</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #51575b;"></rect></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Longer blog post title</h6>
                    <small class="text-body-secondary">March 13, 2024</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2021</a></li>
              <li><a href="#">February 2021</a></li>
              <li><a href="#">January 2021</a></li>
              <li><a href="#">December 2020</a></li>
              <li><a href="#">November 2020</a></li>
              <li><a href="#">October 2020</a></li>
              <li><a href="#">September 2020</a></li>
              
            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/">GitHub</a></li>
              <li><a href="https://twitter.com/">Twitter</a></li>
              <li><a href="https://www.linkedin.com/feed/">linkdin</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
 
  </main>  

  <footer>
    <p>&copy; 2024 My Responsive Blog</p>
  </footer>
</body>
<script src="like.js"></script>  
<script src="share.js"></script>
</html>

